page-perfect-squares {
  .validation-errors {
    padding-left: 16px;
  }

  .error-message {
    padding-top: 5px;
    color: #f53d3d;
  }

  .results {
    padding-top: 18px;
  }

  .results h2 {
    text-transform: uppercase;
    color: #32db64;
  }

  .result {
    font-size: 20px;
    color: #488aff;
  }

}
