<!--
  Generated template for the PerfectSquaresPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>perfect-squares</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <form [formGroup]="intervalForm">
    <ion-item>
      <ion-label floating>Start</ion-label>
      <ion-input [formControl]="intervalForm.controls['start']" type="number" min="0"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.start">
        <div class="error-message" *ngIf="intervalForm.get('start').hasError(validation.type) && (intervalForm.get('start').dirty || intervalForm.get('start').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>


    <ion-item>
      <ion-label floating>End</ion-label>
      <ion-input [formControl]="intervalForm.controls['end']" type="number" min="0"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.end">
        <div class="error-message" *ngIf="intervalForm.get('end').hasError(validation.type) && (intervalForm.get('end').dirty || intervalForm.get('end').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
      <ng-container *ngFor="let validation of validationMessages.__all__">
        <div class="error-message" *ngIf="intervalForm.hasError(validation.type) && (intervalForm.dirty || intervalForm.touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-row>
      <ion-col text-center>
        <button ion-button color="green" (click)="onClickGetIntervalPerfectSquares()">Get Perfect Squares!</button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center class="results">
        <h2 *ngIf="results">Results</h2>
        <ng-container *ngFor="let result of results">
          <div class="result">
            [{{ result.value }}] => {{ result.squareDivisorsSum }}
          </div>
        </ng-container>
      </ion-col>
    </ion-row>
  </form>

</ion-content>
